/* grape-nuts-regular - latin */
@font-face {
    font-family: 'Grape Nuts';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/grape-nuts-v2-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('./fonts/grape-nuts-v2-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/grape-nuts-v2-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/grape-nuts-v2-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('./fonts/grape-nuts-v2-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/grape-nuts-v2-latin-regular.svg#GrapeNuts') format('svg');
    /* Legacy iOS */
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.225s;
    padding-top: 24px;
    margin-top: 92px;
}

.list-pokemon {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    max-height: 80vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.list-pokemon::-webkit-scrollbar {
    display: none;
}

.list-item {
    width: 100%;
    font-size: 24px;
    cursor: pointer;
    color: #818181;
    margin-left: 36px;
}

.list-item:hover {
    color: white !important;
}

tr {
    height: 34px;
}

.td3 {
    min-width: 24px;
}

.list-pic {
    width: 24px;
    height: 24px;
}

.searchbar {
    display: flex;
    justify-content: center;
    width: 100%;

}

.input {
    border: unset;
    outline: none;
    height: 30px;
    font-family: 'Grape Nuts';
    width: 200px;
    font-size: 20px;
}

.d-none {
    display: none !important;
}

body {
    font-family: 'Grape Nuts';
    margin: 0;
    background-color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(170, 170, 170) !important;
    gap: 560px;
    align-items: center;
    height: 92px;
}

.headline_title {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 48px;

}

main {
    margin-top: 4px;
    max-width: 1474px;
    padding-bottom: 62px;
}

.list_pic {
    cursor: pointer;
    padding-left: 4px;
    width: 92px;
    height: 92px;
}


.header-pic-wrapper {
    min-width: 90px;
    max-width: 90px;
}

.favorite_pic {
    cursor: pointer;
    padding-right: 4px;
    width: 80px;
    height: 80px;
}

.cards {
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.small-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 270px;
    height: 390px;
    border-radius: 8px;
    border-style: solid;
    border-width: 6px;
    margin: 4px;
}

.headline {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-top: -24px;
    justify-content: space-between;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 30px;
}

.like {
    height: 30px;
    width: 28px;
}

.small-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.small-card h2 {

    margin-top: -2px;
    margin-bottom: -2px;
    font-size: 40px;
}

.small-pic {
    width: 200px;
    height: auto;

}

.types {
    margin-top: 16px;
    display: flex;
    gap: 3rem;
}

.type {
    padding: 6px;
    border-radius: 4px;
    font-size: 24px;
}

.grass {
    background-color: rgb(0, 151, 0)
}

.cardgrass {
    border-color: rgb(0, 151, 0);
}

.water {
    background-color: rgb(62, 139, 255);
}

.cardwater {
    border-color: rgb(62, 139, 255);
}

.normal {
    background-color: rgb(255, 231, 152);
}

.cardnormal {
    border-color: rgb(255, 231, 152);
}

.electric {
    background-color: rgb(255, 255, 0);
}

.cardelectric {
    border-color: rgb(255, 255, 0);
}

.electric {
    background-color: rgb(255, 255, 0);
}

.cardelectric {
    border-color: rgb(255, 255, 0);
}

.fire {
    background-color: rgb(255, 80, 49);
}

.cardfire {
    border-color: rgb(255, 80, 49);
}

.bug {
    background-color: rgb(68, 233, 255);
}

.cardbug {
    border-color: rgb(68, 233, 255);
}

.poison {
    background-color: rgb(223, 143, 255);
}

.cardpoison {
    border-color: rgb(223, 143, 255);
}

.fighting {
    background-color: rgb(255, 167, 167);
}

.cardfighting {
    border-color: rgb(255, 167, 167);
}

.psychic {
    background-color: rgb(255, 88, 227);
}

.cardpsychic {
    border-color: rgb(255, 88, 227);
}

.rock {
    background-color: rgb(226, 225, 215);
}

.cardrock {
    border-color: rgb(226, 225, 215);
}

.ice {
    background-color: rgb(0, 255, 255);
}

.cardice {
    border-color: rgb(0, 255, 255);
}

.dragon {
    background-color: rgb(164, 229, 255);
}

.carddragon {
    border-color: rgb(164, 229, 255);
}

.ground {
    background-color: rgb(130, 173, 95);
}

.cardground {
    border-color: rgb(130, 173, 95);
}

.ghost {
    background-color: rgb(179, 255, 249);
}

.cardghost {
    border-color: rgb(179, 255, 249);
}

.fairy {
    background-color: rgb(255, 110, 142);
    ;
}

.cardfairy {
    border-color: rgb(255, 110, 142);
}

.flying {
    background-color: rgb(194, 255, 252);
}

.steel {
    background-color: rgb(197, 218, 224);
}

.div4button {
    display: flex;
    justify-content: center;
    height: 60px;
}

.next20 {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 4px 12px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;

    background-color: #000000;
    margin: auto;
    width: fit-content;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


footer {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 56px;
    background-color: rgb(170, 170, 170) !important;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.loading {
    animation: rotation 8s infinite linear;
    width: 100px;
    height: 100px;
}

.loading-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

@media(max-width:1474px) {

    header {
        gap: 420px;
    }
}

@media(max-width:1184px) {

    header {
        gap: 270px;
    }
}

@media(max-width:894px) {

    header {
        gap: 120px;
    }
}

@media(max-width:604px) {

    header {
        gap: 30px;
        height: 60px;
    }

    .sidenav {
        margin-top: 60px;
    }

    .headline_title {
        font-size: 40px;
    }

    .favorite_pic {
        width: 48px;
        height: 48px;
    }

    .list_pic {
        width: 52px;
        height: 52px;
    }
}