/* grape-nuts-regular - latin */
@font-face {
    font-family: 'Grape Nuts';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/grape-nuts-v2-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('./fonts/grape-nuts-v2-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./fonts/grape-nuts-v2-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/grape-nuts-v2-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('./fonts/grape-nuts-v2-latin-regular.ttf') format('truetype');
    /* Safari, Android, iOS */

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.225s;
    padding-top: 24px;
    margin-top: 92px;
}

.list-pokemon {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    max-height: 80vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.list-pokemon::-webkit-scrollbar {
    display: none;
}

.list-item {
    width: 100%;
    font-size: 24px;
    cursor: pointer;
    color: #818181;
    margin-left: 36px;
    height: 34px;
}

.list-item:hover {
    color: white !important;
}

.td3 {
    min-width: 24px;
}

.list-pic {
    width: 24px;
    height: 24px;
}

.searchbar {
    display: flex;
    justify-content: center;
    width: 100%;

}

.input {
    border: unset;
    outline: none;
    height: 30px;
    font-family: 'Grape Nuts';
    width: 200px;
    font-size: 20px;
}

.d-none {
    display: none !important;
}

body {
    font-family: 'Grape Nuts';
    margin: 0;
    background-color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(170, 170, 170) !important;
    gap: 560px;
    align-items: center;
    height: 92px;
}

.headline_title {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 48px;

}

main {
    margin-top: 4px;
    max-width: 1474px;
    padding-bottom: 62px;
}

.list_pic {
    cursor: pointer;
    padding-left: 4px;
    width: 92px;
    height: 92px;
}

.header-pic-wrapper {
    min-width: 90px;
    max-width: 90px;
}

.favorite_pic {
    cursor: pointer;
    padding-right: 4px;
    width: 80px;
    height: 80px;
}

.cards {
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.small-card:hover {
    filter: brightness(90%);
}

.small-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 270px;
    height: 390px;
    border-radius: 8px;
    border-style: solid;
    border-width: 6px;
    margin: 4px;
}

.headline {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-top: -24px;
    justify-content: space-between;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 30px;
}

.like {
    height: 30px;
    width: 28px;
}

.small-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.small-card h2 {
    margin-top: -2px;
    margin-bottom: -2px;
    font-size: 36px;
}

.small-pic {
    width: 200px;
    height: auto;

}

.types {
    margin-top: 16px;
    display: flex;
    gap: 3rem;
}

.type {
    padding: 6px;
    border-radius: 4px;
    font-size: 24px;
}

.div4button {
    display: flex;
    justify-content: center;
    height: 60px;
}

.next20 {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 4px 12px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: fit-content;
    animation: show-card-animation 225ms ease-in-out;
}

.modal-closing{
    animation: close-card-animation 225ms ease-in-out;
}

.close {
    margin-top: 18px;
    color: #aaaaaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.big-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 800px;
    border-radius: 32px;
    border-style: solid;
    border-width: 8px;
    background-color: white !important;
}

.big-card h2 {
    margin-top: -24px;
    font-size: 64px;
}

.headline-big {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-top: 14px;
    justify-content: space-between;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 48px;
}

.like-big {
    cursor: pointer;
    height: 48px;
    width: 48px;
}

.big-pic {
    margin-top: -64px;
    height: 300px;
    width: 300px;
}

.types-big {
    display: flex;
    width: 60%;
    justify-content: center;
    gap: 72px;
    margin-bottom: 16px;
}

.type-big {
    font-size: 24px;
    padding: 8px;
    border-radius: 4px;
}

.tr-big {
    height: 26px;
}

.td-left {
    padding-right: 25.4px;
    font-size: 18px;
}

.td-right {
    text-align: right;

    font-size: 18px;
}

footer {
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    overflow-y: scroll;
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 52px;
    background-color: rgb(170, 170, 170) !important;
    display: flex;
    justify-content: center;
    font-size: 24px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

footer::-webkit-scrollbar {
    display: none;
}

.loading {
    animation: rotation 8s infinite linear;
    width: 100px;
    height: 100px;
}

.loading-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.loading-div p{
    color: white;
    font-size: 24px;
}